#textinput
{
    width: 300px;
    height: 30px;
    text-align: center;
    background-color:rgb(214, 236, 14);
    
}
canvas{
    border:2px solid white;
    border-radius: 10px;
    margin-top:130px;
    box-shadow: 5px 5px 5px white;
    background-color: brown;
}
body
{
    background-size: cover;
}